.hgteam-section {
    background-image: url('../assets/images/fundo.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.image img {
    max-width: 100%;
    border-radius: 12px;
}

.text h2>span {
    color: #5A189A;
    font-weight: 900;
}

.text {
    max-width: 600px;
}

.text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 100;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.text .highlight,
.text .purple {
    color: #5A189A;
    font-weight: bold;
}

.benefits {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.benefits li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.benefits img {
    margin-right: 10px;
    width: 18px;
    height: 15px;
}

.cta-button {
    background-color: #5A189A;
    color: #fff;
    padding: 16px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    text-transform: uppercase;
    display: inline-block;
}

.cta-button:hover {
    background-color: #5A189A;
}

/* Tablet */
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        margin-top: -70px;
        text-align: left;
        padding: 0 20px;
    }

    .text {
        max-width: 100%;
    }

    .benefits li {
        justify-content: flex-start;
    }

    .image img {
        display: none;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .text h2 {
        font-size: 24px;
    }

    .text p,
    .benefits li {
        font-size: 15px;
        text-align: left;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .benefits img {
        width: 18px;
        height: 18px;
    }

    .image img {
        display: none;
    }

    .content {
        align-items: flex-start;
        text-align: left;
        padding: 0 16px;
    }
}